@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#iphone{
    position: absolute;
    
}
#iphone img{
    height: 500px;
}